<div class="container">
  <div class="row">
    <div class="col-md-10">
      <app-restaurant-info [edit]="edit" [action]="action"></app-restaurant-info>
      <app-open-hours [edit]="edit"></app-open-hours>
    </div>
    <div class="col-md-2">
      <button *ngIf="!edit" class="btn btn-warning position-fixed" (click)="toggleEdit()">edit</button>
      <div class="position-fixed">
      <button *ngIf="edit" class="btn btn-danger" (click)="toggleEdit()">cancel</button>
      <button *ngIf="edit" class="btn btn-success" (click)="toggleEdit()">save</button>
      </div>
    </div>
  </div>
</div>
