<div class="container">
  <h1>Login</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">username</label>
      <input type="text" class="form-control" id="username"
             [(ngModel)]="username" name="username" required>
    </div>

    <div class="form-group">
      <label for="password">password</label>
      <input type="password" class="form-control" id="password"
             [(ngModel)]="password" name="password" required>
    </div>
    {{errorMsg}}
    <button type="submit" class="btn btn-success">login</button>
  </form>
  {{username}}
  {{password}}
  <button (click)="sayHello()">Say Hello man!</button>
  <span>{{ result }}</span>
</div>
