<td class='alert-container' [formGroup]="tableForm">
  <input type="text" [(ngModel)]="table.identifier" class="form-control"
         formControlName="identifier" required>
  <div *ngIf="identifier.invalid && (identifier.dirty || identifier.touched)"
       class="alert alert-danger">
    <div *ngIf="identifier.errors.required">
      Identifier is required.
    </div>
  </div>
</td>
<td class='alert-container' [formGroup]="tableForm">
  <input type="number" [(ngModel)]="table.maxPlaces" class="form-control" formControlName="maxPlaces"
         name="maxPlaces" required>
  <div *ngIf="maxPlaces.invalid && (maxPlaces.dirty || maxPlaces.touched)"
       class="alert alert-danger">
    <div *ngIf="maxPlaces.errors.required">
      Maximum number of places is required.
    </div>
    <div *ngIf="maxPlaces.errors.min">
      Minimum number of places is {{MIN}}.
    </div>
  </div>
</td>
<td class='alert-container' [formGroup]="tableForm">
  <textarea type="text" [(ngModel)]="table.comment" class="form-control" formControlName="comment"></textarea>
</td>
<td class='alert-container'>
  <button (click)="addTable(table)" class="btn btn-success" [disabled]="!tableForm.valid">Add</button>
  <button class="btn btn-danger" (click)="cancelAddTable()">Cancel</button>
</td>
