<div class="container start-container">
  <div class="row">
    <h3 class="col-md-12 centerize">Restorer login Page</h3>
  </div>
  <div class="row centerize">
    <button class="col-md-5 centerize btn btn-secondary" routerLink="/login">
      Login
    </button>
    <button class="offset-md-2 col-md-5 centerize btn btn-secondary" routerLink="/registration">
      Registration
    </button>
  </div>
  <span class="alert alert-primary row">Create your restaurants platform!</span>
  <span class="alert alert-primary row">Set your restaurants information, open hours, tables...</span>
  <span class="alert alert-primary row">Enable clients to find your restaurant and make reservations online!</span>
  <span class="alert alert-primary row">Track reservations on a comfortable interface!</span>
  <span class="alert alert-primary row">and much more...</span>

</div>
