<div class="container">

  <h4>Open:</h4>
  <div *ngIf="!edit">
    <dl class="row" *ngFor="let openHours of openHoursWeek | mapValues">
      <dt class="col-sm-3">{{openHours.key}}</dt>

      <div class="col-sm-9" *ngIf="!openHours.value.isClose">
        <div class="row">
          <ngb-timepicker class="col-sm-5" [(ngModel)]="openHours.value.openHour" [spinners]="false" [disabled]="true"
                          [size]="'small'"></ngb-timepicker>
          <dd class="col-sm-2">-</dd>
          <ngb-timepicker class="col-sm-5" [(ngModel)]="openHours.value.closeHour" [spinners]="false" [disabled]="true"
                          [size]="'small'"></ngb-timepicker>
        </div>
      </div>
      <div class="col-sm-9" *ngIf="openHours.value.isClose">
        <dd>Closed</dd>
      </div>
    </dl>
  </div>

  <div *ngIf="edit">
    <dl class="row day-setter" *ngFor="let openHours of editOpenHoursWeek | mapValues">
      <dt class="col-sm-3">{{openHours.key}}</dt>

      <div class="col-sm-7" *ngIf="!openHours.value.isClose">
        <div class="row">
          <ngb-timepicker class="col-sm-5" [(ngModel)]="openHours.value.openHour" [size]="'small'"></ngb-timepicker>
          <dd class="col-sm-2 time-divider">-</dd>
          <ngb-timepicker class="col-sm-5" [(ngModel)]="openHours.value.closeHour" [size]="'small'"></ngb-timepicker>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="row">
          <dd class="col-sm-6">Closed</dd>
          <input class="col-sm-6" type="checkbox" [(ngModel)]="openHours.value.isClose">
        </div>
      </div>
    </dl>
  </div>
</div>

