<h4>Open:</h4>


<div *ngIf="!edit">
  <div *ngFor="let openHours of OpenHoursArray ">
    <h5>{{openHours.weekday}}</h5>
    <div *ngIf="openHours.isSet">
      open: {{openHours.openHour}} - {{openHours.closeHour}}
    </div>
    <div *ngIf="!openHours.isSet">
      closed
    </div>
  </div>
</div>

<div *ngIf="edit">
  <div *ngFor="let openHours of OpenHoursArray ">
    <h5>{{openHours.weekday}}</h5>
    <input [(ngModel)]="openHours.openHour"/>
    -
    <input [(ngModel)]="openHours.closeHour"/>
  </div>
  <button (click)="updateOpenHours()">Update</button>
</div>
