<div><code>observable|async</code>: Time: {{ time$ | async }}</div>

<div [ngSwitch]="isLoggedInAsRestorer()">
  <div *ngSwitchCase="true">
    <div>
      <a href="/reservation">Reservations</a>
      <a href="/tableSettings">Table Settings</a>
      <a href="/info">Restaurant Info</a>
    </div>
    <button (click)="sayHello()">Say Hello man!</button>
    <span>{{ result }}</span>
    <button (click)="logout()">logout</button>
  </div>
  <div *ngSwitchDefault>
    Restaurant Booking App Restorer
  </div>
</div>
