<div class="container">

  <div *ngIf="!edit">

    <dl class="row">
      <dt class="col-sm-3">Name</dt>
      <dd class="col-sm-9">{{restaurant?.name}}</dd>

      <dt class="col-sm-3">City</dt>
      <dd class="col-sm-9">{{restaurant?.city}}</dd>

      <dt class="col-sm-3">Street</dt>
      <dd class="col-sm-9">{{restaurant?.street}}</dd>

      <dt class="col-sm-3">PhoneNumber</dt>
      <dd class="col-sm-9">{{restaurant?.phoneNumber}}</dd>

      <dt class="col-sm-3">Tags</dt>
      <tag-input class="col-sm-9"
                 [ngModel]="restaurant?.tags"
                 [removable]="false"
                 [hideForm]="true"></tag-input>
    </dl>
  </div>
  <form *ngIf="edit">
    <div class="form-group" [formGroup]="restaurantInfoForm">

      <label for="name">Name</label>
      <input type="text" [(ngModel)]="editRestaurant.name"
             class="form-control {{name.invalid && (name.dirty || name.touched) ? '' : ''}}" id="name" name="name"
             formControlName="name">
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
      </div>


      <label for="city">City</label>
      <input type="text" [(ngModel)]="editRestaurant.city" class="form-control" id="city" name="city"
             formControlName="city">
      <div *ngIf="city.invalid && (city.dirty || city.touched)"
           class="alert alert-danger">
        <div *ngIf="city.errors.required">
          City is required.
        </div>
      </div>


      <label for="street">Street</label>
      <input type="text" [(ngModel)]="editRestaurant.street" class="form-control" id="street" name="street"
             formControlName="street">
      <div *ngIf="street.invalid && (street.dirty || street.touched)"
           class="alert alert-danger">
        <div *ngIf="street.errors.required">
          Street is required.
        </div>
      </div>


      <label for="phone">Tel</label>
      <input type="number" [(ngModel)]="editRestaurant.phoneNumber" class="form-control" id="phone" name="phone"
             formControlName="phoneNumber">
      <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
           class="alert alert-danger">
        <div *ngIf="phoneNumber.errors.required">
          Phone Number is required.
        </div>
        <div *ngIf="phoneNumber.errors.pattern">
          Must be only digits.
        </div>
      </div>
    </div>

    <label for="tags">Tags</label>
    <tag-input [(ngModel)]="editRestaurant.tags"
               [onlyFromAutocomplete]="true"
               [modelAsStrings]="true"
               name="tags"
               id="tags">
      <tag-input-dropdown
        [showDropdownIfEmpty]="false"
        [autocompleteItems]="autocompleteItems">
      </tag-input-dropdown>
    </tag-input>
  </form>
</div>
