<div class="container border border-primary main-containers rounded">

  <h1>Search For Availability</h1>
  <form>
    <div class="form-group container">
      <div class="row">
        <div class="col-md-6 date-time-containers">
          <ngb-datepicker #dp [(ngModel)]="date" name="date" [markDisabled]="isDisabled"
                          [outsideDays]="'collapsed'">
          </ngb-datepicker>
        </div>
        <div class="col-md-6 form-group date-time-containers">
          <ngb-timepicker [(ngModel)]="time" name="time"></ngb-timepicker>
        </div>
      </div>
    </div>
    <div class="form-group" [formGroup]="reservationForm">
      <label for="length">Duration</label>
      <input type="number" [(ngModel)]="reservation.reservationLength" class="form-control" id="length" name="length"
             formControlName="length" required>
      <div *ngIf="length.invalid && (length.dirty || length.touched)"
           class="alert alert-danger">
        <div *ngIf="length.errors.required">
          Length of stay is required.
        </div>
        <div *ngIf="length.errors.min">
          Minimum length of stay is {{MINIMUM_RESERVATION_LENGTH}}.
        </div>
      </div>


      <label for="places">Reserved Places</label>
      <input type="number" [(ngModel)]="reservation.reservedPlaces" class="form-control" id="places" name="places"
             formControlName="places" required>
      <div *ngIf="places.invalid && (places.dirty || places.touched)"
           class="alert alert-danger">
        <div *ngIf="places.errors.required">
          Maximum number of places is required.
        </div>
        <div *ngIf="places.errors.min">
          Minimum number of places is {{MIN}}.
        </div>
      </div>

      <label for="comment">Comment</label>
      <input type="text" [(ngModel)]="reservation.comment" class="form-control" id="comment" name="comment"
             formControlName="comment">
      <div *ngIf="comment.invalid && (comment.dirty || comment.touched)"
           class="alert alert-danger">
        <div *ngIf="comment.errors.required">
          Comment is required (client data).
        </div>
      </div>
    </div>

    <button (click)="getAllFreeTableList(reservation)" class="btn btn-success" [disabled]="!reservationForm.valid">search all
    </button>
    <button (click)="getBestFreeTableList(reservation)" class="btn btn-success" [disabled]="!reservationForm.valid">search best
    </button>
    <button class="btn btn-warning" (click)="canceled.emit(true)">Cancel</button>
  </form>



  <div *ngIf="showList">
    <table *ngIf="tableList && tableList.length" class="table table-hover">
      <thead>
      <tr>
        <th scope="col">identifier</th>
        <th scope="col">max Places</th>
        <th scope="col">comment</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let table of tableList">
        <td>{{table.identifier}}</td>
        <td>{{table.maxPlaces}}</td>
        <td>{{table.comment}}</td>
        <button class="btn btn-success" (click)="addReservation(table, reservation)">reserve</button>
      </tr>
      </tbody>
    </table>

    <div *ngIf="!tableList || !tableList.length" class="alert alert-danger alert-container" role="alert"> No tables
      meeting the
      requirements
    </div>
  </div>
</div>

