<div class="container">
  <h1>Add Reservation Form</h1>
  <form>
    <div class="form-group">
      <label for="table">Table</label>
      <input type="number" [(ngModel)]="reservation.restaurantTableId" class="form-control" id="table" name="table" required>
    </div>

    <div class="form-group">
      <label for="places">Reserved Places</label>
      <input type="number" [(ngModel)]="reservation.reservedPlaces" class="form-control" id="places" name="places" required>
    </div>

    <div class="form-group">
      <label for="length">Duration</label>
      <input type="number" [(ngModel)]="reservation.reservationLength" class="form-control" id="length" name="length" required>
    </div>

    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea type="text" [(ngModel)]="reservation.comment" class="form-control" id="comment" name="comment"></textarea>
    </div>

    <div class="form-group">
      <label for="date">Date</label>
      <input type="datetime-local" [(ngModel)]="reservation.dateReservation" class="form-control" id="date" name="date" required>
    </div>

    <button (click)="addReservation(reservation)" class="btn btn-success">Add</button>

  </form>

</div>
