@import "../../../../styles";

.day-setter {
  align-items: center;

  .time-divider {
    align-self: center;
  }
}

.open-hours-container {
  margin: $main-margin-length;


  .is-closed-container{
    align-items: center;
    margin: $main-margin-length / 2;
  }
}
